@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
    .contenedor-actualizar{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.tablet{
            flex-direction: row;
            align-items: flex-start;
        }
        .formulario{
            label{
                font-size: 1.6rem;
            }
            input{
                font-size: 1.5rem;
            }
            textarea{
                font-size: 1.5rem;
            }
        }
    }
     
    .form-dashboard{
        @include m.contenedor-sm;
    }
}