// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores carlomagno
$color1: #0a1851;
$azuloscuro: rgba(10, 29, 85, 1);
$azul: #0da6f3;
$azul2: #3d72fc;  //color q se utiliza en la class btn-bachiller q esta definida en destacados.scss
$azul3: #3564db; //se utiliza solo en estudiantes.html
$rojo: #cb0000;
$rosa: #D2093C;
$verde:#329f00;
$verdeclaro: #d3f800;
$negro: #1a1b15;
$negrofooter: #1a1a1a;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisclaro: #F3F3F3;
$grisoscuro: #a5a5a5;
$grisoscuro2: #585858;

// Colores dashboard
$azul4: #007df4;
$secundario: #00c8c2;
$color1: #4a5eb8; //se iba aplicar en el sidebar
$color2: rgb(55, 50, 51); //se utilizaba en el menudigital
$color3: #0c213a; //se utiliza en sidebar
$color4: #7081b9; //en los iconos del sidebar
$gris2: #64748B;
$gris-claro: #F8FAFC; //en formulario login y dashboard
$gris-oscuro: #1E293B;
$verde2: #02db02;


// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900